<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Continuing Privacy Policy">
    
    <link rel="icon" th:href="@{/icons/favicon.ico}" id="favicon">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/app_icon.svg}">
    <link th:href="@{/css/terms.css}" rel="stylesheet" type="text/css">
    
    <title th:text="'Privacy Policy: ' + ${@environment.getProperty('app.name')}"></title>
</head>
<body>
<header>
    <div class="info">
        <h1>Continuing Privacy Policy</h1>
        <p>
            Naoki Kajitani (hereinafter referred to as the "Company") 
            has established the following privacy policy (hereinafter referred to as the "Policy") 
            regarding the handling of users' personal information in the services provided on this website (hereinafter referred to as the "Services").
        </p>
    </div>
</header>

<section class="works">
    <section>
        <h1>Article 1 (Personal Information)</h1>
        <p>
            Personal information" refers to "personal information" as defined in the Personal Information Protection Law, 
            which is information about a living individual that can be used to identify a specific individual by name, 
            date of birth, address, telephone number, contact information, or other descriptions contained in the information, 
            as well as information that can be used to identify a specific individual by itself (personal identification information), 
            such as appearance, fingerprints, voice print data, and health insurance number.
        </p>
    </section>

    <section>
        <h1>Article 2 (Method of Collection of Personal Information)</h1>
        <p>
            The Company may ask for personal information such as name, date of birth, address, telephone number, e-mail address, bank account number, credit card number, driver's license number, etc. when a user registers for use.
            In addition, transaction records containing the user's personal information and settlement information between the user and the partner, etc.  may collect such information from its business partners (including information providers, advertisers, and advertising distributors; hereinafter referred to as "Business Partners"). 

        </p>
    </section>

    <section>
        <h1>Article 3 (Purpose of Collection and Use of Personal Information)</h1>
        <p>The purposes for which the Company collects and uses personal information are as follows.</p>
        <ol>
            <li>To provide and operate our services</li>
            <li>To respond to inquiries from users (including verifying their identity)</li>
            <li>To send e-mails with information on new features, updates, campaigns, and other services provided by the company</li>
            <li>To contact users as necessary for maintenance, important notices, etc.</li>
            <li>To identify users who have violated the terms of use or who are trying to use the service for illegal or improper purposes, and to refuse their use</li>
            <li>To allow users to view, change, or delete their own registered information, and to view their usage status</li>
            <li>To bill the user for usage fees for paid services</li>
            <li>Purposes incidental to the above purposes of use</li>
        </ol>
    </section>

    <section>
        <h1>Article 4 (Change of the purpose of use)</h1>
        <ol>
            <li>The Company shall change the purpose of use of personal information only when it is reasonably recognized that the purpose of use is related to that before the change.</li>
            <li>In the event that the purpose of use is changed, the Company shall notify the user of the changed purpose by the method prescribed by the Company or announce it on this website.</li>
        </ol>
    </section>

    <section>
        <h1>Article 5 (Provision of Personal Information to Third Parties)</h1>
        <ol>
            <li>
                The Company will not provide personal information to a third party without the prior consent of the User, except in the following cases.
                However, this excludes cases permitted under the Personal Information Protection Law and other laws and regulations.
                <ol>
                    <li>Acts that infringe on the intellectual property rights of this company or a third party.</li>
                    <li>
                        Cases in which the provision of personal information is necessary for the protection of the life,
                        body, or property of an individual and in which it is difficult to obtain the consent of the individual
                    </li>
                    <li>
		                    Cases in which the provision of personal information is particularly necessary for improving public health or promoting the sound growth of children, 
		                    and in which it is difficult to obtain the consent of the individual
                    </li>
                    <li>
		                    When the provision of personal information is necessary for cooperating with a national agency, 
		                    a local government, or a person or organization entrusted by either of the foregoing in executing affairs prescribed by laws and regulations, 
		                    and obtaining the consent of the individual is likely to impede the execution of such affairs.
                    </li>
        
                    <li>
                        When the following matters are notified or announced in advance, and the Company has submitted a notification to the Personal Information Protection Committee
                        <ol>
                            <li>The validity, interpretation, and performance of this Agreement shall be governed by and construed in accordance with the laws of Japan.</li>
                            <li>
                                Any and all disputes, lawsuits, and other matters between the Company and Users, etc. 
                                shall be subject to the exclusive jurisdiction of the Tokyo Summary Court or the Tokyo District Court, depending on the amount of the lawsuit.
                            </li>
                        </ol>
                    </li>
                    
                </ol>
            </li>

            <li>
                Notwithstanding the provisions of the preceding paragraph,
                 in the following cases, the party to which the information is provided shall not be considered a third party.
                <ol>
                    <li>The purpose of use includes provision to a third party</li>
                    <li>Items of data to be provided to a third party</li>
                    <li>Means or method of provision to a third party</li>
                    <li>Stopping the provision of personal information to a third party at the request of the individual</li>
                    <li>Method of receiving a request from the person in question</li>
                </ol>
            </li>
        </ol>
    </section>

    <section>
        <h1>Article 6 (Disclosure of Personal Information)</h1>
        <ol>
            <li>
               When the Company is requested to disclose personal information by an individual,
                the Company shall disclose such information to the individual without delay.
                <ol>
                    <li>When there is a risk of harm to the life, body, property, or other rights or interests of the individual or a third party</li>
                    <li>When there is a risk of significant hindrance to the proper execution of our business</li>
                    <li>When it would violate other laws and regulations</li>
                </ol>
            </li>

            <li>
                Notwithstanding the provisions of the preceding paragraph, 
                the Company will not, in principle, disclose any information other than personal information, 
                such as history and characteristics information.
            </li>
        </ol>
    </section>

    <section>
        <h1>Article 7 (Correction and Deletion of Personal Information)</h1>
        <ol>
            <li>
                If the personal information held by the Company is incorrect, 
                the User may request the Company to correct, add,
                 or delete the personal information (hereinafter referred to as "Correction, etc.") in accordance with the procedures specified by the Company. 
            </li>
            <li>
		            If the Company receives a request from the User as described in the preceding paragraph and deems it necessary to respond to the request,
		             the Company shall make the correction, etc. of the relevant personal information without delay.
		        </li>
            <li>
                In the event that the Company makes a correction, etc. based on the provisions of the preceding paragraph,
                 or decides not to make a correction, etc., the Company will notify the User of this without delay.
            </li>
        </ol>
    </section>

    <section>
        <h1>Article 8 (Suspension of Use of Personal Information, etc.)</h1>
        <ol>
            <li>If we are requested by an individual to suspend the use or erase (hereinafter referred to as "cessation of use, etc.") on the grounds that the personal information is being handled beyond the scope of the purpose of use or was obtained by wrongful means, we will conduct the necessary investigation without delay.</li>
            <li>If, based on the results of the investigation described in the preceding paragraph, it is determined that it is necessary to respond to the request, the Company will stop using the personal information without delay.</li>
            <li>In the event that the Company suspends use, etc. based on the provisions of the preceding paragraph, or decides not to suspend use, etc., the Company will notify the User of this without delay.</li>
            <li>Notwithstanding the preceding two paragraphs, in cases where it is difficult to suspend use of the information, such as in cases where the suspension of use would incur a large amount of expense, and in cases where alternative measures necessary to protect the rights and interests of the user can be taken, such alternative measures shall be taken.</li>
        </ol>
    </section>

    <section>
        <h1>Article 9 (Changes to the Privacy Policy)</h1>
        <ol>
            <li>The contents of this policy may be changed without notice to the user, except as otherwise provided by law or in this policy.</li>
            <li>Unless otherwise specified by the Company, the revised Privacy Policy shall become effective when it is posted on this website.</li>
        </ol>
    </section>

    <section>
        <h1>Article 10 (Contact for Inquiries)</h1>
        <p>If you have any questions regarding this policy, please contact us using the inquiry form on this service.</p>
    </section>

</section>

<footer>
    <p>October 6, 2021 Effective date</p>
</footer>
</body>
</html>
