<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="TimeCard Terms of Use">
    
    <link th:href="@{/css/terms.css}" rel="stylesheet" type="text/css">
    <title th:text="#{title.terms} + ': ' + ${@environment.getProperty('app.name')}"></title>
</head>
<body>
<header>
    <div class="info">
        <h1>TimeCard Terms of Use</h1>
        <p>This Terms governs your use of the TimeCard service (the "Service") provided by Naoki Kajitani, Inc (the "Company"). Please use the Service after agreeing to these Terms.</p>
    </div>
</header>

<section class="works">
    <section>
        <h1>Article 1 (Definition)</h1>
        <p>　The definitions of the words used in this Terms are as follows.</p>
        <ol>
            <li>Services: Services operated by the Company and related services</li>
            <li>Users(The user): All users of this service</li>
            <li>Registered users: Users who have completed user registration for this service</li>
            <li>Password: A unique cipher set by the registered user</li>
            <li>Registered information: General term for information registered by registered users in this service</li>
            <li>Intellectual property: inventions, ideas, new varieties of plants, designs, works of authorship and other things produced by human creative activity (including rule or phenomena of nature that have been discovered or clarified and that have industrial applicability), trademarks, trade names and other things that indicate goods or services used in business activities, and trade secrets and other technical or business information useful in business activities
                Translated with www.DeepL.com/Translator (free version)</li>
            <li>Intellectual property rights: patent rights, utility model rights, breeder's rights, design rights, copyrights, trademark rights, and other rights related to intellectual property as defined by law or rights pertaining to legally protected interests</li>
        </ol>
    </section>

    <section>
        <h1>Article 2 (Agreement to this Agreement)</h1>
        <ol>
            <li>Users may use this service only after agreeing to these terms of use.</li>
            <li>When a user downloads the Service to a smartphone or other information terminal and completes the procedures for agreeing to these Terms of Use, a contract for use in accordance with the provisions of these Terms of Use shall be established between the user and the Company.</li>
            <li>If the user is a minor, please obtain the consent of a person with parental authority or other legal representative before using this service.</li>
            <li>In the event that a minor user uses this service by falsely claiming to have consent without the consent of a legal representative, or by falsely claiming to be an adult in terms of age, or by using other fraudulent means to make the user believe that he or she is capable of acting, any legal action related to this service cannot be rescinded.</li>
            <li>In the event that a user who is a minor at the time of consenting to this Agreement uses the Service after reaching the age of majority, such user shall be deemed to have accepted all legal acts related to the Service.</li>
        </ol>
    </section>

    <section>
        <h1>Article 3 (Amendment of the Terms)</h1>
        <ol>
            <li>The Company may revise the contents of these Terms at any time without the consent of the user, and the user shall agree to this without objection.</li>
            <li>When the Company revises these Terms of Use, the Company will notify the User of the contents of the revision by the method prescribed by the Company.</li>
            <li>The revision of the previous version of these Terms shall take effect at the time the Company gives notice in accordance with the preceding paragraph.</li>
            <li>Users are deemed to have agreed to the revised Terms of Use without objection at the time they use the Service after the revision of the Terms of Use.</li>
        </ol>
    </section>

    <section>
        <h1>Article 4 (Management of Accounts)</h1>
        <ol>
            <li>The user shall voluntarily register and manage the information registered at the time of use (hereinafter referred to as "registration information", including e-mail address and password) at his / her own risk. The user shall not allow a third party to use this, or lend, transfer, change the name, buy or sell, etc.</li>
            <li>In the event of use of this service based on registered information, the Company may treat it as if the registered user himself/herself had used the service, and the results of such use and all associated responsibilities shall belong to the registered user himself/herself.</li>
            <li>In the event that the Company or a third party suffers damage due to the unauthorized use of registered information, the user shall compensate the Company and the third party for such damage.</li>
            <li>Users shall be responsible for managing their own registration information, and the Company shall not be liable for any disadvantages or damages incurred by users due to inaccurate or false registration information.</li>
        </ol>
    </section>

    <section>
        <h1>Article 5 (Prohibited Acts)</h1>
        <p>　When using this service, the Company prohibits the following acts from users. If the Company finds that a user has violated any of the prohibitions, the Company may suspend the user's use of the service, cancel the user's membership, or take any other action the Company deems necessary.</p>
        <ol>
            <li>Actions that infringement on the intellectual property rights of the Company or a third party</li>
            <li>Actions that defame the reputation or credibility of the Company or a third party, or unfairly discriminate or slander</li>
            <li>Actions that infringe or may infringe on the property of the Company or a third party</li>
            <li>Actions that cause economic damage to the Company or a third party</li>
            <li>Threatening actions against the Company or third parties</li>
            <li>Actions that specifying or inducing computer viruses or harmful programs</li>
            <li>Acts that place undue stress on the infrastructure facilities for this service</li>
            <li>Attacks on our service's servers, systems, and security</li>
            <li>Actions that attempt to access the Company's services using a method other than the interface provided by the Company</li>
            <li>Other than the above, actions that the Company deems inappropriate</li>
        </ol>
    </section>

    <section>
        <h1>Article 6 (Disclaimer)</h1>
        <ol>
            <li>The Company shall not be liable for any damages caused by changes in the contents of the Service, interruption or termination of the Service.</li>
            <li>The Company shall not be involved in, and shall not be responsible for, the user's environment for using the Service.</li>
            <li>The Company does not warrant in any way that the Service will be suitable for the specific purpose of the User, that it will have the expected functions, commercial value, accuracy, or usefulness, that the use of the Service by the User will comply with laws and regulations applicable to the User or internal rules of industry organizations, or that defects will not occur.</li>
            <li>The Company does not guarantee that the Service is compatible with all information terminals, and the User acknowledges in advance that malfunctions may occur in the operation of the Service due to the upgrade of the OS of the information terminal used to use the Service. The Company does not guarantee that such problems will be solved by the modification of the program, etc. conducted by the Company in the event that such problems occur.</li>
            <li>The user acknowledges in advance that the use of part or all of the Service may be restricted due to changes in the terms of use and operational policies of browsers such as Google Chrome or service stores such as Google Play.</li>
            <li>The Company shall not be liable for any damages directly or indirectly incurred by users as a result of using this service.</li>
            <li>The Company shall not be liable for any loss of opportunity, interruption of business, or any other damages (including indirect damages or lost profits) incurred by users or other third parties, even if the Company has been notified in advance of the possibility of such damages.</li>
            <li>The provisions of Paragraph 1 through the preceding paragraph shall not apply in cases where the Company is willful or grossly negligent or where the Subscriber is a consumer under the Consumer Contract Act.</li>
            <li>Even in cases where the preceding paragraph applies, the Company shall not be liable to compensate for any damages caused to users by acts of negligence (except for gross negligence) that arise from special circumstances. </li>
            <li>The Company shall not be responsible for any disputes or troubles between users and other users. In the event of a dispute between a user and another user, both parties shall be responsible for resolving the dispute and shall not make any claim against the Company.</li>
            <li>In the event that a user causes damage to another user or a dispute arises with a third party in relation to the use of this service, the user shall, at his/her own expense and responsibility, compensate for such damage or resolve such dispute, and shall not cause any inconvenience or damage to the Company.</li>
            <li>In the event that the Company receives a claim for damages, etc. from a third party as a result of the User's conduct, the User shall resolve such claim at the User's expense (attorney's fees) and responsibility. In the event that our company pays compensation for damages to said third party, the user shall pay all costs (including attorney's fees and lost profits) including said compensation to our company.</li>
            <li>In the event that a user causes damage to the Company in connection with the use of this service, the user shall compensate the Company for the damage (including the cost of litigation and attorney's fees) at the user's expense and responsibility.</li>
        </ol>
    </section>

    <section>
        <h1>Article 7 (Publication of Advertisements)</h1>
        <p>　Users are deemed to understand and agree that the Service may contain any advertisements, and that the Company or its partners may place any advertisements on the Service. The form and scope of advertising on the Service may be changed by the Company from time to time.</p>
    </section>

    <section>
        <h1>Article 8 (Prohibition of Transfer of Rights)</h1>
        <ol>
            <li>Users shall not transfer all or part of their position and any rights or obligations under these Terms of Use to a third party without the prior written consent of the Company.</li>
            <li>The Company may transfer all or part of the Service to a third party at the Company's discretion, and in that case, all rights of the User pertaining to the Service, including the User's account to the extent of the transferred rights, shall be transferred to the transferee.</li>
        </ol>
    </section>

    <section>
        <h1>Article 9 (Separability)</h1>
        <p>　Even if any provision of these Terms and Conditions, or any part thereof, is determined to be invalid or unenforceable under the Consumer Contract Act or other laws and regulations, the remaining provisions of these Terms and the remaining portions of the provisions that have been partially determined to be invalid or unenforceable shall continue to be in full force and effect.</p>
    </section>

    <section>
        <h1>Article 10 (Method of Contacting the Company)</h1>
        <p>　The user's contact or inquiry to the Company regarding the Service shall be made by sending a message from the "Inquiry" set up in an appropriate location within the Service or by a method separately designated by the Company.</p>
    </section>

    <section>
        <h1>Article 11 (Governing Law, Court of Jurisdiction)</h1>
        <ol>
            <li>The validity, interpretation and performance of this Agreement shall be governed by and construed in accordance with the laws of Japan.</li>
            <li>For discussions, proceedings and all other disputes between the Company and users, the Tokyo Summary Court or the Tokyo District Court shall be the exclusive agreement jurisdiction court, depending on the amount of the complaint.</li>
        </ol>
    </section>
</section>

<footer>
    <p>September 30th, 2021 Effective date</p>
</footer>
</body>
</html>
