.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.datetimepicker-input {
    height: auto;
}

.text-end {
    font-size: 14px;
}

.btn-group .btn {
    border-color: lightgray;
}

.navbar-nav .btn {
  border-radius: 0.5rem;	
}

#nav-dropdown {
	width: 64px;	
}

#nav-dropdown, p, .text-reset {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h5 {
    overflow: hidden;
    white-space: nowrap;
}


.hide-text {
    color: lightgray;
}

.bg-info {
    height: 24px;
}

.btn {
    border-radius: 10rem;
}

th {
	width: 100px;
	white-space: nowrap;
}

.meeting-url {
	word-break: break-all;
} 

.my-card {
	height: 38px;
}

.invalid-feedback {
	display: block;
}

.app-icon {
	width: 60px;
}