<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav th:fragment="navbar_area" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold fs-3 text-secondary" th:href="@{/home}">
                <img th:src="@{/icons/app_icon.svg}" class="app-icon"/>
                <span th:text="${@environment.getProperty('app.name')}"></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="ms-auto" th:if="${session.user_id == null}">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/showLogin}" th:text="#{link.login}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/showRegister}" th:text="#{link.register}"></a>
                        </li>
                    </ul>
                </div>
                <div th:unless="${session.user_id == null}" class="ms-auto d-flex">
		                <form th:action="@{/search}" method="post" th:object="${searchData}">
		                    <input class="form-control me-2" type="search" name="keyword" th:value="*{keyword}" th:placeholder="#{label.keyword}">
		                    <input type="hidden" name="_csrf" th:value="${session.csrf_token}"/>
		                </form>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link ms-2 me-2" aria-current="page" th:href="@{/Meeting/showCreateForm}">
                                <i class="fas fa-plus"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" id="nav-dropdown" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" th:text="${session.user_name}"></button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" th:href="@{/User/mypage}" th:text="#{link.mypage}"></a></li>
                                <li><a class="dropdown-item" th:href="@{/Meeting/list/mine/today}" th:text="#{link.today_my_meeting}"></a></li>
                                <li><a class="dropdown-item" th:href="@{/User/setting}" th:text="#{link.setting}"></a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/logout}" th:text="#{link.logout}"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="list-group" th:fragment="meeting_list_area">
        <form th:action="@{/}" method="get" th:each="meeting : ${meetingList}">
            <button type="submit" th:formaction="@{/Meeting/__${meeting.id}__}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100">
                    <div th:unless="${meeting.host.profileImage} == null">
                        <img th:src="${meeting.host.profileImage}" th:alt="#{img.profile}" class="avatar">
                    </div>
                    <div th:if="${meeting.host.profileImage} == null">
                        <span class="avatar btn btn-light"></span>
                    </div>
                    <a th:href="@{/User/__${meeting.host.id}__}" class="text-reset fs-4 mt-2 ms-2" th:text="${meeting.host.name}"></a>
                    <div class="ms-auto mt-2 me-2" th:if="${session.user_id != meeting.host.id}">
                        <input type="submit" th:formaction="@{/Meeting/leave/__${meeting.id}__}" th:value="#{button.leave}" class="btn btn-primary" th:if="${#lists.contains(myJoinMeetingList, meeting)}">
                        <div th:unless="${#lists.contains(myJoinMeetingList, meeting)}">
                            <input type="submit" th:formaction="@{/Meeting/join/__${meeting.id}__}" th:value="#{button.join}" class="btn btn-outline-primary" th:unless="${meeting.numberPeople == 1 && #lists.size(meeting.joinList) == 1}">
                            <span class="text-danger" th:if="${meeting.numberPeople == 1 && #lists.size(meeting.joinList) == 1}" th:text="#{text.closed}"></span>                                                            
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th th:text="#{label.topic}"></th>
                        <td th:text="#{option.topic.__${meeting.topic}__}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{label.agenda}"></th>
                        <td th:text="${meeting.agenda}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{label.number_people}"></th>
                        <td th:if="${meeting.numberPeople == 1}" th:text="#{label.one_on_one}"></td>
                        <td th:if="${meeting.numberPeople == 2}" th:text="#{label.multiple}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{label.date}"></th>
                        <td th:text="${#dates.format(meeting.date, 'yyyy/MM/dd')}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{label.time}"></th>
                        <td th:text="|${#dates.format(meeting.startTime, 'HH:mm')} ～ ${#dates.format(meeting.endTime, 'HH:mm')}|"></td>
                    </tr>
                </table>
            </button>
        </form>
    </div>
    
	  <div th:fragment="msg_area">
		    <div th:if="${msg != null}" class="m-4">
			      <div th:if="${msg.type == 'S'}">
				        <div class="alert alert-success d-flex" role="alert">
			              <span class="flex-fill" th:text="${msg.text}"></span>
			              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				        </div>
			      </div>
			      <div th:if="${msg.type == 'W'}">
			          <div class="alert alert-warning d-flex" role="alert">
			              <span class="flex-fill" th:text="${msg.text}"></span>
			              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			          </div>
		        </div>
			      <div th:if="${msg.type == 'E'}">
			          <div class="alert alert-danger d-flex " role="alert">
			              <span class="flex-fill" th:text="${msg.text}"></span>
							      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			          </div>
		        </div>
		        <div th:if="${msg.type == 'I'}">
			          <div class="alert alert-info d-flex" role="alert">
			              <span class="flex-fill" th:text="${msg.text}"></span>
					          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			          </div>
		        </div>
        </div>
	  </div>
				  
		<div th:fragment="msg_meeting_area">  
		    <div th:if="${msgMeeting != null}" class="m-4">
		        <div th:if="${msgMeeting.type == 'W'}">
			          <div class="alert alert-warning d-flex" role="alert">
			              <span class="flex-fill" th:text="${msgMeeting.text}"></span>
			              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			          </div>
            </div>
		        <div th:if="${msgMeeting.type == 'E'}">
			          <div class="alert alert-danger d-flex " role="alert">
			              <span class="flex-fill" th:text="${msgMeeting.text}"></span>
			              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			          </div>
		        </div>
        </div>
    </div>
	  
	  <div th:fragment="msg_account_area">  
		    <div th:if="${msgAccount != null}" class="m-4">
		        <div th:if="${msgAccount.type == 'W'}">
				         <div class="alert alert-warning d-flex" role="alert">
				             <span class="flex-fill" th:text="${msgAccount.text}"></span>
				             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				         </div>
	          </div>
	      </div>
    </div>
    
</body>
</html>